/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Intro */
.intro {
  width: 100%;
  height: 900px;
  background: url('../img/intro-bg.png') center no-repeat;
  background-size: cover;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.headerContent {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuSandwish {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menuSandwish .bar {
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.first {
  margin-bottom: 4px;
}

.third {
  margin-top: 4px;
}

.logo {
  display: flex;
}

.logo p {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #fff;
}

.logo p:nth-child(2) {
  font-weight: 500;
  font-style: italic;
}

/* Produtos */
.banner {
  width: 704px;
  height: 560px;
}

.bannerContainer a:nth-child(1) .banner {
  background: url('../img/catalogo-cafe.png') no-repeat center;
  background-size: contain;
}

.bannerContainer a:nth-child(2) .banner {
  background: url('../img/acessorios.png') no-repeat center;
  background-size: contain;
}
